#ed-body,#ed-tools{position: absolute;top: 0;bottom: 0;right:0;}
#ed-body{
	left:0;
	right:300px;
	background: #CCC;
}
#ed-tools{
	z-index:100000;
	width: 300px;	
	background: #EEE;
	font: 12px/1em Arial,sans-serif;
	color: #666;
	border-left:solid 1px #AAA;
	box-shadow: -1px 0 3px rgba(0,0,0,0.3);
}
#ed-close-open{
	position:absolute;
	top:4px;
	left:12px;
	width: 12px;
	height: 12px;
	font: 14px/12px sans-serif;
	font-weight: bold;
	border: solid 1px #AAA;
	text-align:center;
	border-radius: 7px;
	box-shadow: inset 0 1px 0 #FFF, 0 1px 0 #FFF;
	cursor: pointer;
}
#ed-resize{
	position:absolute;
	width: 5px;
	top:0;
	bottom: 0;
	left: 0;
	border-right:solid 1px #AAA;
	background: #F7F7F7;
	cursor: ew-resize;
}

#ed-tools-inner{
	position: absolute;
	top: 22px;
	bottom: 20px;
	left:12px;
	right:5px;
	background: #CDCDCD;
	box-shadow:inset 0 0 5px #999;
	border:solid 1px #AAA;
	padding-top: 1px;
}

.ed-tab{
	position:relative;
	z-index:100002;
	display: inline-block;
	text-align: center;
	width: 30%;
	font-size: 10px;
	font-weight: bold;
	height: 17px;
	line-height: 17px;
	border: solid 1px #AAA;
	background: #EEE;
	box-shadow: inset 0 1px 2px #FFF, inset 0 -1px 1px #999;
	border-radius: 5px 5px 0 0;
	cursor:pointer;
	text-shadow: 1px 1px 0 #FFF;
}
.ed-tab.ed-current{
	border-bottom-color:#EEE;
	box-shadow:inset 0 1px 2px #FFF;
	cursor:default;
}
.ed-palet{
	position:absolute;
	z-index:100001;
	top:19px;
	bottom:0;
	left:0;
	right:0;
	border: solid 1px #AAA;
	background: #EEE;
	padding: 10px;
}


.ed-palet textarea,
.ed-palet pre{
	width:98%;
	height:98%;
	display:block;
	border:solid 1px #AAA;
	background:#FFF;
	resize: none; 
	padding: 3px;
	display: block;
	font: 12px/1.2em monospace;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	overflow: scroll;
}
.ed-palet pre{
	color: #00F;
}
